@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: style none;
    text-decoration: none;
    box-sizing: border-box;
    
}

.heading {
    font-family: Plus Jakarta Sans;
    font-size: 56px;
    font-weight: 600;
    line-height: 70.56px;
    text-align: left;
}

.para {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #000000;
}

.short-heading {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #010101;
}

.card:hover {
    box-shadow: 0px 1px 28px 1px #4747471A;
}

.btn-1 {
    color: white;
    background-color: red;
    border: 0;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
}

.btn-1:hover {
    color: red;
    background-color: #fff;
    border: 1px solid red;
}

.bg-img {
    background-image: url(/assets/image/img-2.png);
    width: 100%;
    height: 100%;
}

/*============== section 2 ===============*/
.card-2 {
    max-width: 589px;
}

.mt-80 {
    margin-top: 80px;
}

.c-w-h {
    max-width: 364px;
}

.c-w-h-2 {
    width: 364px;
}

.d-j {
    display: flex;
    justify-content: right;
}

.heading-2 {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
}

/*==================== footer ===============*/
footer {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    text-decoration: none;
    color: #000000;
}

ul li {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.top-heading {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.text {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
}

.box-2 {
    border: 2px solid #D9D9D9;
    width: 340px;
    height: 70px;
    align-items: center;
    border-radius: 64px;
    padding: 15px;
}

.btn-3 {
    background-color: red;
    color: #fff;
    padding: 15px 40px 15px 40px;
    border-radius: 62px;
    margin-left: 12px;
}

.btn-3:hover {
    color: red;
    background-color: #fff;
    border: 1px solid red;
}

input[type="text"] {
    outline: none;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 50%;
}
.box-5{
    font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: center;
        color: #1B2228;
        border-top: 1px solid;
        
}

@media (max-width:992px) {
    .btn-1 {
        width: 100%;
    }
    .d-j {
        display: flex;
        justify-content: left;
    }
}